
<md-select ng-model="year" placeholder="End of season">
    <md-option ng-value="opt" ng-repeat="opt in years">{{ opt }}</md-option>
</md-select>
<md-input-container>
    <label>Date</label>
    <input type="date" ng-model="date" ng-change="calculateTable()" min="{{minDate}}" max="{{maxDate}}">
</md-input-container>

<table>
    <tr>
        <td>Pos</td>
        <td>Name</td>
        <td>W</td>
        <td>D</td>
        <td>L</td>
        <td>GF</td>
        <td>GA</td>
        <td>GD</td>
        <td>Pts</td>
    </tr>
    <tr ng-repeat="(index, team) in teams | orderObjectBy:'Points':'-'">
        <td ng-bind="index + 1"></td>
        <td ng-bind="team.Name"></td>
        <td ng-bind="team.Wins"></td>
        <td ng-bind="team.Draws"></td>
        <td ng-bind="team.Losses"></td>
        <td ng-bind="team.Scored"></td>
        <td ng-bind="team.Conceded"></td>
        <td ng-bind="team.Scored - team.Conceded"></td>
        <td ng-bind="team.Points"></td>
    </tr>
</table>